body {
    padding-right: 10%; 
    padding-left: 10%; 
    font-family: 'Lato';
    font-size: 30px; 
    font-weight: 200; 
    word-spacing: 5px; 
    
}
.TOC {
    text-align: center; 
    padding-top: 3px; 
}

.p_text {
    padding-top: 1%; 
    color: black; 
    font-size: 20px; 
    text-align: center; 
}
